
@{
    ViewBag.Title = "TableauIndex";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-signal"></i> Tableau Dashboards <span>>  Rapid production of graphs and amalgamation into Dashboards for information-at-a-glance</span></h1>
        </div>
    </div>
    <!--Widget 1-->
    
    <section id="widget-grid">
        <div class="row">
            
        </div>
    </section>
</div>

