
@{
    ViewBag.Title = "TableauCoal";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">
            <h1 class="page-title txt-color-blueDark semi-bold"><i class="fa-fw fa fa-signal"></i> Tableau Dashboards <span>>  Coal terminal analysis - tell a story</span></h1>
        </div>
    </div>

    <section id="widget-grid">
        <div class="row">
            <div class="col-md-3 col-lg-3">
                <div class="well">
                    <h1 class="semi-bold">Coal Terminal</h1>
                    <hr />
                    <p>Multiple Tableau dashboards can be combined into a single coherent storyboard to provide an interactive executive summary.</p>
                    <p>In this analysis the performance of several reclaimers are assessed to determine whether maintenance is required.</p>
                    <p>The requirement for maintenance is defined as the idle capacity of the reclaimer increasing to 10 % over an 8 hour period.</p>
                    <p>The moving average of idle capacity was determined for each reclaimer, with one reclaimer identified as requiring immediate maintenance, 
                    and another assessed as requiring maintenance within the next few months.</p>
                    <br />
                    <hr />
                    <p>Based on data from the Udemy course: Tableau 9 Advanced Training, by Kirrill Eremenko</p>
                </div>
            </div>
            <article class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-deletebutton="false"
                     data-widget-editbutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-signal"></i> </span>
                        <h2>Coal Terminal analysis </h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <script type='text/javascript' src='https://public.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1024px; height: 694px;'><noscript><a href='#'><img alt='Coal Terminal Analysis of Operation (from example data) ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Te&#47;TerminalAnalysis&#47;ExecSummary&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='1024' height='694' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='site_root' value='' /><param name='name' value='TerminalAnalysis&#47;ExecSummary' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Te&#47;TerminalAnalysis&#47;ExecSummary&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='showVizHome' value='no' /><param name='showTabs' value='y' /><param name='bootstrapWhenNotified' value='true' /></object></div>
                        </div>
                    </div>
                </div>
            </article>

        </div>
    </section>
</div>

