
@{
    ViewBag.Title = "TableauQuadrant";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">
            <h1 class="page-title txt-color-blueDark semi-bold"><i class="fa-fw fa fa-signal"></i> Tableau Dashboards <span>>  Startup Quadrant - rapid production of data visualisations</span></h1>
        </div>
    </div>

    <section id="widget-grid">
        <div class="row">
            <div class="col-md-3 col-lg-3">
                <div class="well">
                    <h1 class="semi-bold">Startup Quadrant</h1>
                    <hr />
                    <p>The decision to invest in start-up companies can be assisted through the use of a Startup Quadrant, or Magic Quadrant.<br />
                    Essentially, startup companies with low expenses and high revenues, with the most growth, are the most desirable to invest in.</p>
                    <p>The startup quadrant allows the user to identify the companies with the most growth, and control for risk by arranging                 
                    the cut-offs for expenses and revenue.<br />
                    Try moving the sliders to determine the most attractive startups for your risk tolerance.</p>
                    <h2>Tableau</h2>
                    <p>
                        Tableau enables the rapid development of visually aesthetic diagrams and dashboards.<br />
                        These diagrams can be fully interactive and hosted in the cloud - even though this site is hosted in Windows Azure,
                        the dashboards are being sent from the Tableau web servers.
                    </p>
                </div>
            </div>
            <article class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false"
                     data-widget-editbutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-signal"></i> </span>
                        <h2>Startup Quadrant </h2>

                    </header>
                    <div>
                        <div class="widget-body">
                            <script type='text/javascript' src='https://public.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1004px; height: 869px;'><noscript><a href='#'><img alt='Startup Quadrant ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;St&#47;StartupQuadrant_0&#47;StartupQuadrant&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' width='1004' height='869' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='site_root' value='' /><param name='name' value='StartupQuadrant_0&#47;StartupQuadrant' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;St&#47;StartupQuadrant_0&#47;StartupQuadrant&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='showVizHome' value='no' /><param name='showVizHome' value='no' /><param name='showTabs' value='y' /></object></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

