
<table id="dt_components" class="table table-striped table-bordered table-hover table.display" width="100%">
    <thead>
        <tr>
            <th>Component ID</th>
            <th>Component Name</th>
            <th>Starting Tonnage</th>
            <th>Air-Dried Moisture</th>
            <th>Total Moisture</th>
            <th>Ash Percentage</th>
            <th>Calorific Value</th>
            <th>Volatiles</th>
            <th>Sulfur Percentage</th>
            <th>Initial FOB</th>
        </tr>
    </thead>
</table>