<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
    <h1 class="txt-color-red login-header-big">Robert Coleman</h1>
    <div class="row">

        <div class="pull-left @*login-desc-box-l*@">
            <h4 class="paragraph-header">A demonstration of ASP.NET MVC, Entity Framework Code-First, Javascript and Azure Cloud Hosting</h4>
            <br />
        </div>
        
    </div>
    <div class="row">
        <div class="pull-left">
            <img src="~/Content/img/demo/Backdrop.jpg" display-image style="width:700px" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div>
                <h5 class="about-heading">Entity Framework</h5>
                <p>
                    Database interactions managed through Entity Framework and LINQ queries:
                </p>
            </div>
            <br />
            <div>
                <img src="~/Content/img/demo/Transport.JPG" display-image alt="" style="width:350px"/>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div>
                <h5 class="about-heading">Tableau Dashboards</h5>
                <p>
                    Visually aesthetic, interactive dashboards produced in record time.
                </p>
            </div>
            <br />
            <div>
                <img src="~/Content/img/demo/Tableau.JPG" display-image alt="" style="width:460px" />
            </div>
        </div>
    </div>

</div>